script.
	window.h5 = {
		host: '#{host}'
		,href: '#{href}'
		,path: '#{path}'
		,cdn: '#{cdn}'
		,fileServer: '#{fileServer}'
		,publicRoute: !{JSON.stringify(publicRoute)}
		,siteName: '#{siteName}'
		,pageSize: #{pageSize || 10}
		,maxLink: #{maxLink || 5}
		,params: !{JSON.stringify(params)}
		,query: !{JSON.stringify(query)}
	}

- if(usePublicCdn)
	script(src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.1.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js')
	script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js')

- else
	script(src='#{cdn}/jquery/dist/jquery.min.js')
	script(src='#{cdn}/tether/dist/js/tether.min.js')
	script(src='#{cdn}/bootstrap/dist/js/bootstrap.min.js')
	script(src='#{cdn}/google-code-prettify/bin/prettify.min.js')
	script(src='#{cdn}/react/react.min.js')
	script(src='#{cdn}/react/react-dom.min.js')

script(src='#{themeResDev||themeRes}/js/bundle.js?#{themeVersion}')
